<div id="question">
    <h2>Question: {{question.description}}</h2>
    <!--h4>Debug {{question.answers}}</h4-->
    {{#err}}
        <h4>Validation failed: {{err}}</h4>
    {{/err}}

    {{#question.answers}}
        <form 
         hx-post="/{{prod.name}}/answer/{{aid}}" 
         hx-target="#question"
         hx-push-url="true"
        >
            <input type="text" name="answer"/>
            <input type="submit" value="Submit"/>
        </form>
    {{/question.answers}}
</div>

