<div id="question">
    <h2>Question: {{question.description}}</h2>
    <!--h4>Debug {{question.answers}}</h4-->
    <div id="validation">
        {{> validation.mustache }}
    </div>

    {{#question.answers}}
        <form 
         hx-post="/{{prod.name}}/answer/{{aid}}" 
         hx-target="#question"
         hx-push-url="true"
        >
        <input 
         hx-post="/{{prod.name}}/answer/{{aid}}/validate"
         hx-trigger="keyup changed delay:1s"
         hx-target="#validation"
         type="text" 
         name="answer"
        />
            <input type="submit" value="Submit"/>
        </form>
    {{/question.answers}}
</div>

