<div id="question">
    <h2>Question: {{question.description}}</h2>
    <h4>{{question.answers}}</h4>
    {{#question.answers}}
        <form hx-post="{{prod.name}}/answer/{{aid}}" hx-target="body">
            <input type="text" name="answer"/>
            <input type="submit" value="Submit"/>
        </form>
    {{/question.answers}}
</div>

